<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>alimentum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C1DA99E1CAB84FB001172AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C1DA9B51CAB84FB001172AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C1DA9C01CAB84FB001172AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
